.c-main {

  @include element('categories-title') {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Indie Flower', 'Roboto', sans-serif;
  }

  @include element('categories-flex') {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;

    @include element('category') {
      background-color: $category;
      border-radius: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
      margin-left: 10px;
      margin-right: 10px;
      cursor: pointer;
      transition: background-color 0.5s;

      @include modifier('current') {
        background-color: $category--current;
      }
    }
  }

  @include element('entry-flex') {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
  }

  @include element('entry') {
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin: 10px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;

    @include element('image') {
      z-index: 0;
      width: 100%;
      height: auto;
      min-width: 250px;
      min-height: 250px;
      object-fit: cover;

      @include modifier('play-button') {
        position: absolute;
        top: 0;
        left: 0;
        opacity: .5;

        z-index: 1;
        width: 100%;
        height: auto;
        min-width: 250px;
        min-height: 250px;
        object-fit: contain;
      }
    }

    @include element('overlay') {
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
      opacity: 0;
      width: 250px;
      height: 250px;
      background-color: $transparent-50;
      position: absolute;
      top: 0;
      left: 0;
      transition: opacity 0.5s;

      &:hover {
        opacity: 1;
      }

      @include element('title') {
        color: $inverse;
        font-family: 'Indie Flower', 'Roboto', sans-serif;
      }
    }
  }
}
